# A simple script to verify build of PRs works
name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: "Build and execute tests on different node versions"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x, 25.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Verify build on node.js ${{ matrix.node-version }}
        run: |
          npm ci
          npm run build

      - name: Run tests on node.js ${{ matrix.node-version }}
        run: npm test -- --coverage --reporters=jest-junit

      #- name: Upload test results to Codecov
      #  if: ${{ !cancelled() }}
      #  uses: codecov/codecov-action@v5
      #  with:
      #    flags: ${{ matrix.node-version }}
      #    token: ${{ secrets.CODECOV_SECRET }}
      #    report_type: test_results
      #    fail_ci_if_error: true

      - name: Upload coverage to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ matrix.node-version }}
          token: ${{ secrets.CODECOV_SECRET }}
          fail_ci_if_error: true
